<div class="mt-5">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="d-flex justify-content-between">
        <h4>Quản Lý Nhân Viên</h4>
        <div>
          <a href="/employees/create" class="btn btn-primary">Thêm Nhân Viên</a>
          <%- include('../../partials/alert', { messages: messages, time: "5000" }) %>
        </div>
      </div>
      
      <hr />

      <div class="card mb-3">
        <div class="card-header">Bộ lọc và tìm kiếm</div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <button
                class="btn btn-sm ml-1 btn-outline-primary active"
                button-status=""
              >
                Tất cả</button
              ><button
                class="btn btn-sm ml-1 btn-outline-primary"
                button-status="active"
              >
                Hoạt động</button
              ><button
                class="btn btn-sm ml-1 btn-outline-primary"
                button-status="inactive"
              >
                Dừng hoạt động
              </button>
            </div>
            <div class="col-6">
              <form id="form-search">
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Nhập từ khóa"
                    name="keyword"
                    value=""
                  />
                  <div class="input-group-appent">
                    <button class="btn btn-primary" type="submit">Tìm</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Họ Tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Tên phòng ban</th>
            <th scope="col">Chức vụ</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Hoạt động</th>
          </tr>
        </thead>
        <tbody>
          <% cleanEmployees.forEach(employee => { %>
            <tr>
              <td><%= employee.EmployeeID %></td>
              <td><%= employee.FullName %></td>
              <td><%= employee.DateOfBirth %></td>
              <td><%= employee.Gender %></td>
              <td><%= employee.Email %></td>
              <td><%= employee.PhoneNumber %></td>
              <td><%= employee.DepartmentName %></td>
              <td><%= employee.PositionName %></td>
              <td><%= employee.Status %></td>
              <td>
                <a href="/employees/<%= employee.EmployeeID %>" class="btn btn-success" style="font-size: xx-small;">
                  <i class="fa-solid fa-eye"></i>
                </a>
                <a href="/employees/edit/<%= employee.EmployeeID %>" class="btn btn-warning mx-2" style="font-size: xx-small;">
                  <i class="fa-solid fa-pen-nib"></i>
                </a>
                <a href="/employees/delete/<%= employee.EmployeeID %>" class="btn btn-danger" style="font-size: xx-small;">
                  <i class="fa-solid fa-trash"></i>
                </a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <nav>
        <ul class="pagination">
          <li class="page-item active">
            <button
              class="page-link"
              button-pagination="1"
              fdprocessedid="x68la"
            >
              1
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
