<% if (Role.includes("Admin") || Role.includes("Payroll Manager")) { %>
<div class="mt-5">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="d-flex justify-content-between">
        <h4>Quản lý lương nhân viên</h4>

        <div>
          <a href="/payroll/create" class="btn btn-primary">Thêm Bảng Lương</a>
          <%- include('../../partials/alert', { messages: messages, time: "5000" }) %>
        </div>
        </form>
      </div>
      <hr />
      <div class="card mb-3">
        <div class="card-header">Bộ lọc bảng lương</div>
        <div class="card-body">
          <form id="filter-form" action="/payroll" method="GET">
            <div class="row g-3">
      
              <div class="col-md-2">
                <label for="EmployeeID" class="form-label">Mã NV</label>
                <input type="text" class="form-control" id="EmployeeID" name="EmployeeID" value="" placeholder="Nhập ID">
              </div>
      
              <div class="col-md-3">
                <label for="FullName">Họ tên</label>
                <input type="text" class="form-control" id="FullName" name="FullName" value="" placeholder="Nhập tên">
              </div>
      
              <div class="col-md-3">
                <label for="DepartmentID">Phòng ban</label>
                <select class="form-control" id="DepartmentID" name="DepartmentID">
                  <option value="">Tất cả</option>
                  <% departments.forEach(dept => { %>
                    <option value="<%= dept.DepartmentID %>" >
                      <%= dept.DepartmentName %>
                    </option>
                  <% }) %>
                </select>
              </div>
      
              <div class="col-md-3">
                <label for="SalaryMonth" class="form-label">Tháng chấm công</label>
                <input type="month" class="form-control" id="SalaryMonth" name="SalaryMonth" value="">
              </div>
      
              <div class="col-md-1 d-flex align-items-end">
                <button type="submit" class="btn btn-primary w-100">Lọc</button>
              </div>
      
            </div>
          </form>
        </div>
      </div>
      
          
        <hr />

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Mã NV</th>
            <th scope="col">Tên NV</th>
            <th scope="col">Tháng Lương</th>
            <th scope="col">Lương cơ bản</th>
            <th scope="col">Thưởng</th>
            <th scope="col">Khấu Trừ</th>
            <th scope="col">Lương Thực Nhận</th>
            <th scope="col">Ngày Tạo</th>
            <th scope="col">Hoạt động</th>
          </tr>
        </thead>
        <tbody>
          <% salaries.forEach(salary => { %>
            <tr>
              <td><%= salary.SalaryID %></td>
              <td><%= salary.Employee?.EmployeeID %></td>
              <td><%= salary.Employee?.FullName %></td>
              <td><%= new Date(salary.SalaryMonth).getFullYear() + '-' + (new Date(salary.SalaryMonth).getMonth() + 1).toString().padStart(2, '0') %></td>
              <td><%= salary.BaseSalary.toLocaleString() %> đ</td>
              <td><%= salary.Bonus.toLocaleString() %> đ</td>
              <td><%= salary.Deductions.toLocaleString() %> đ</td>
              <td><%= salary.NetSalary.toLocaleString() %> đ</td>
              <td><%= salary.CreatedAt.toLocaleString('vi-VN') %></td>
              <td>
                  <div class="d-flex align-items-center">
                    <a href="/payroll/edit/<%= salary.SalaryID %>" class="btn btn-warning btn-sm mx-2 d-flex align-items-center justify-content-center">
                       Cập nhật
                    </a>
                  
                    <form 
                       action="/payroll/delete/<%= salary.SalaryID %>?_method=DELETE"
                      method="POST" 
                      onsubmit="return confirm('Bạn có chắc chắn muốn xóa bản lương không?')"
                      class="m-0 p-0 d-inline"
                    >
                      <button type="submit" class="btn btn-danger btn-sm d-flex align-items-center justify-content-center" title="Xóa">
                         Xóa
                      </button>
                    </form>
                  </div>
                  
                </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <%- include('../../partials/pagination', { pagination: pagination }) %>

    </div>
  </div>
</div>
<% } else { %>
  <div class="alert alert-danger mt-5 text-center">
    Bạn không có quyền truy cập trang này.
  </div>
<% } %>