<div class="mt-5">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="d-flex justify-content-between">
          <h4>Quản Lý Chấm Công</h4>
          <a href="/attendance/create" class="btn btn-primary">Thêm Chấm Công</a>
          <%- include('../../partials/alert', { messages: messages, time: "5000" }) %>
        </div>
  
        <hr />
        <div class="card mb-3">
            <div class="card-header">Bộ lọc chấm công</div>
            <div class="card-body">
              <form id="filter-form" action="/attendance" method="GET">
                <div class="row g-3">
                  <div class="col-md-4">
                    <label for="EmployeeID" class="form-label">Mã NV</label>
                    <input type="text" class="form-control" id="EmployeeID" name="EmployeeID" 
                    value="<%= query?.EmployeeID || '' %>" placeholder="Nhập ID">
                  </div>
          
                  <div class="col-md-5">
                    <label for="FullName">Họ tên</label>
                    <input type="text" class="form-control" id="FullName" name="FullName"
                       value="<%= query?.FullName || '' %>" placeholder="Nhập tên">
                  </div>
          
                  <div class="col-md-2">
                    <label for="AttendanceMonth" class="form-label">Tháng chấm công</label>
                    <input type="month" class="form-control" id="AttendanceMonth" name="AttendanceMonth"
                    value="<%= query?.AttendanceMonth || '' %>">
                  </div>
          
                  <div class="col-md-1 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary w-100">Lọc</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
        <hr />
          
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Mã NV</th>
              <th scope="col">Họ Tên</th>
              <th scope="col">Số ngày làm</th>
              <th scope="col">Số ngày vắng</th>
              <th scope="col">Số ngày nghỉ phép</th>
              <th scope="col">Tháng chấm công</th>
              <th scope="col">Ngày tạo</th>
              <th scope="col">Hoạt động</th>
            </tr>
          </thead>
          <tbody>
            <% attendances.forEach(record => { %>
              <tr>
                <td><%= record.AttendanceID %></td>
                <td><%= record.EmployeeID %></td>
                <td><%= record.Employee?.FullName || '' %></td>
                <td><%= record.WorkDays %></td>
                <td><%= record.AbsentDays %></td>
                <td><%= record.LeaveDays %></td>
                <td>
                  <%= new Date(record.AttendanceMonth).getFullYear() + '-' + (new Date(record.AttendanceMonth).getMonth() + 1).toString().padStart(2, '0') %>
                </td>
                <td><%= record.CreatedAt.toLocaleString('vi-VN') %></td>
                <td>
                  <div class="d-flex align-items-center">
                    <a href="/attendance/edit/<%= record.AttendanceID %>" class="btn btn-warning btn-sm mx-2 d-flex align-items-center justify-content-center">Sửa</a>
                    <form 
                        action="/attendance/delete/<%= record.AttendanceID %>?_method=DELETE" 
                        method="POST" 
                        onsubmit="return confirm('Xác nhận xóa?')"
                        class="m-0 p-0 d-inline"
                      >
                        <button type="submit" class="btn btn-danger btn-sm d-flex align-items-center justify-content-center" title="Xóa">
                          Xóa
                        </button>
                      </form>
                  </div>
                </td>
              </tr>
            <% }) %>
          </tbody>
          
        </table>
        <nav>
          <ul class="pagination justify-content-center">
            <% if (pagination.currentPage > 1) { %>
              <li class="page-item">
                <button class="page-link" button-pagination="1">Trang đầu</button>
              </li>
              <li class="page-item">
                <button class="page-link" button-pagination="<%= pagination.currentPage - 1 %>">Trang trước</button>
              </li>
            <% } %>
        
            <% for (var i = 1; i <= pagination.totalPage; i++) { %>
              <li class="page-item <%= pagination.currentPage == i ? 'active' : '' %>">
                <button class="page-link" button-pagination="<%= i %>"><%= i %></button>
              </li>
            <% } %>
        
            <% if (pagination.currentPage < pagination.totalPage) { %>
              <li class="page-item">
                <button class="page-link" button-pagination="<%= pagination.currentPage + 1 %>">Kế tiếp</button>
              </li>
              <li class="page-item">
                <button class="page-link" button-pagination="<%= pagination.totalPage %>">Trang cuối</button>
              </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  