<div class="mt-5">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="d-flex justify-content-between">
          <h4>Quản Lý Phòng Ban</h4>
          <a href="/departments/create" class="btn btn-primary">Thêm Phòng Ban</a>
        </div>
  
        <hr />
  
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tên Phòng Ban</th>
              <th scope="col">Ngày tạo</th>
              <th scope="col">Ngày cập nhật</th>
              <th scope="col">Hoạt động</th>
            </tr>
          </thead>
          <tbody>
            <% cleanDepartments.forEach(department => { %>
              <tr>
                <td scope="row"><%= department.DepartmentID %></td>
                <td><%= department.DepartmentName %></td>
                <td><%= moment(department.CreatedAt).format('DD/MM/YYYY HH:mm:ss') %></td>
                <td><%= moment(department.UpdatedAt).format('DD/MM/YYYY HH:mm:ss') %></td>


                <td>
                  <a href="/departments/edit/<%= department.DepartmentID %>" class="btn btn-warning mx-2">Cập nhật</a>
                  <a href="/departments/delete/<%= department.DepartmentID %>" class="btn btn-danger">Xóa</a>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  