<% if (Role.includes("Admin") || Role.includes("HR Manager")) { %>
<div class="mt-5">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="d-flex justify-content-between">
          <h4>Quản Lý Phòng Ban</h4>
          <div>
            <a href="/departments/create" class="btn btn-primary">Thêm Phòng Ban</a>
            <%- include('../../partials/alert', { messages: messages, time: "5000" }) %>
          </div>
        </div>
  
        <hr />
  
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tên Phòng Ban</th>
              <th scope="col">Ngày tạo</th>
              <th scope="col">Ngày cập nhật</th>
              <th scope="col">Hoạt động</th>
            </tr>
          </thead>
          <tbody>
            <% cleanDepartments.forEach(department => { %>
              <tr>
                <td scope="row"><%= department.DepartmentID %></td>
                <td><%= department.DepartmentName %></td>
                <td><%= moment(department.CreatedAt).format('DD/MM/YYYY HH:mm:ss') %></td>
                <td><%= moment(department.UpdatedAt).format('DD/MM/YYYY HH:mm:ss') %></td>


                <td>
                  <div class="d-flex align-items-center">
                    <a href="/departments/edit/<%= department.DepartmentID %>" class="btn btn-warning btn-sm mx-2 d-flex align-items-center justify-content-center">
                       Cập nhật
                    </a>
                  
                    <form 
                      action="/departments/delete/<%= department.DepartmentID %>?_method=DELETE" 
                      method="POST" 
                      onsubmit="return confirm('Bạn có chắc chắn muốn xóa phòng ban không?')"
                      class="m-0 p-0 d-inline"
                    >
                      <button type="submit" class="btn btn-danger btn-sm d-flex align-items-center justify-content-center" title="Xóa">
                         Xóa
                      </button>
                    </form>
                  </div>
                  
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% } else { %>
  <div class="alert alert-danger mt-5 text-center">
    Bạn không có quyền truy cập trang này.
  </div>
<% } %>